@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  font-size: 16px;
}

html, body, #root {
  height: 100%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, textarea {
  font: 400 1rem Lato, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

:root {
  --color-background: #fff;
  --color-primary: #2D68FF;
  --color-secondary: #000;

  --color-error: #EC1111;
  --color-success: #0FC000;
  --color-warning: #E9EE09;

  --header-height: 164px;
}

.main-content header {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: var(--color-background);
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary); 
}
